table{
    width: 100%;
}
.top-table tr{
    font-size: 30px;
    background-color: black;
    color: white;
}

 /* .top-table tr:hover{
    opacity: 0.7;
} */

.top-table td{
    width: 33%;
    border: 5px solid white; 
    padding: 5px 10px;
    text-align: center;
}

.top-table td:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
}

.top-table img{
    width: 100px;
    height: 100px; 
    border-radius: 20px;   
}

.bottom-table{
    border: 10px solid black;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.bottom-table tr:hover{
    background-color: gray;
}

.bottom-table td{
    font-size: 20px;
    border: 5px solid gray;
    text-align: center;
}

.bottom-table img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}